$default-highlight: #c53131;

$default-light-gray: #b5b3a4;
$default-groove-gray: #eeede0;
$default-accent-text: #4b4a44;
$default-color: #191813;

$groove-border: 2px groove $default-groove-gray;
$border-radius: 4px;

$space: 10px;
$scrollbar-width: 6px;
