@import './mixins';
@import './variables';

.ability-scores {
  .ability {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    .ability-modifiers {
      height: auto;
      margin: 0;

      .ability-proficiency {
        display: flex;
        line-height: normal;
        place-items: center;
        place-content: center;
      }
    }
  }
}

.ability-score-row {
  gap: calc($space / 2);
  border: 0;
  display: flex;

  > li {
    border-radius: $border-radius;
    flex: 1; // arbitrary
    border: $groove-border;
  }
}

.attribute,
.ability {
  .config-button {
    visibility: hidden;
    position: absolute;
    top: 3px;
    right: 2px;
    font-size: 10px; // arbitrary
  }

  &:hover {
    .config-button {
      visibility: visible;
    }
  }
}
