@import './mixins';
@import './variables';

.ability-scores {
  .ability {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    .ability-modifiers {
      height: auto;
      margin: 0;

      .ability-proficiency {
        display: flex;
        line-height: normal;
        place-items: center;
        place-content: center;
      }
    }
  }
}

.ability-score-row {
  @include spaced($space / 2);

  border-radius: 0;
  border: 0;
  display: flex;
  flex: 0 0 auto;
  height: auto;

  > li {
    border-radius: $border-radius;
    flex: 1 0 80px; // arbitrary
    border: $groove-border;
    position: relative;
  }
}

.movement {
  overflow: hidden;

  // &:hover {
  //   .config-button {
  //     visibility: visible;
  //   }
  // }

  // .config-button {
  //   visibility: hidden;
  //   position: absolute;
  //   top: 3px;
  //   right: 2px;
  //   font-size: 10px; // arbitrary
  // }

  .movement-primary {
    @include truncate;
  }

  .movement-special {
    @include truncate;
  }
}

.attribute,
.ability {
  .config-button {
    visibility: hidden;
    position: absolute;
    top: 3px;
    right: 2px;
    font-size: 10px; // arbitrary
  }

  &:hover {
    .config-button {
      visibility: visible;
    }
  }
}
