@import './mixins';
@import './variables';

.action-range {
  flex-direction: column;
}

.actions {
  .item-name {
    flex: 2;
  }

  .inventory-header {
    .item-detail {
      flex: 1;
    }
  }
}
