@import './mixins';
@import './variables';

.attributes {
  flex: 0 0 auto;
  height: auto;
}

.attribute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  .attribute-value {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.attribute-footer {
  display: flex;
  align-items: center;
  min-height: 18px; // arbitrary
  justify-content: space-around;

  input {
    flex: 1;
  }
}

.resource {
  .attribute-value {
    input {
      flex: 0 auto;
    }
  }
}
