@import './mixins';
@import './variables';

.attributes {
  flex: 0 0 auto;
  height: auto;
}

.attribute {
  height: auto;
}

.attribute-value {
  font-size: 24px;
}

.attribute-footer {
  display: flex;
  justify-content: space-around;

  input {
    flex: 1;
  }
}
