@import './mixins';
@import './variables';

.biography {
  gap: calc($space);
  max-width: unset;

  // display as a grid with 2 equal columns and 4 equal rows
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, minmax(auto, 1fr)) auto;
  grid-auto-flow: column;

  h4 {
    font-size: 1em;
    font-weight: 700;
  }

  .note-entries {
    gap: calc($space);
  }

  .left-notes {
    flex: 2;
  }

  .right-notes {
    flex: 3;
  }

  article {
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    padding: calc($space / 2);

    h4 {
      flex: 0 auto;
      border-bottom: $groove-border;
    }

    .editor {
      flex: 1;
      padding: 0;
    }
  }

  .editor-container {
    min-height: 50px;
  }

  .big-bio {
    grid-row-end: span 4;
  }
}
