@import './variables.scss';

// ensure our styles take precedence over 5e default
.dnd5e.sheet.actor.character.cb5es {
  --accent-text: var(--color-text-dark-secondary);
  --color: var(--color-text-dark-primary);
  --accent-gray: var(--color-text-light-heading);
  --groove-gray: var(--color-border-light-highlight);
  --highlight: #44191a; // same as dnd5e
  --light-gray: var(--color-border-light-primary);
  --tertiary-text: var(--color-text-dark-inactive);
  --spellbook-active: #d200ff1a;
  --spellbook-always-active: #0084ff1a;

  @import './ability-scores.scss';
  @import './attributes.scss';
  @import './header.scss';
  @import './inventory.scss';
  @import './sidebar.scss';
  @import './spellbook.scss';
  @import './tab-area.scss';
  @import './biography.scss';

  min-height: 500px;

  .window-content {
    box-sizing: border-box;
    color: var(--color);

    padding: calc(#{$space} / 2);

    * {
      box-sizing: inherit;
    }

    > form {
      display: grid;
      grid-template-columns: minmax(200px, 1fr) 3fr;
      grid-template-rows: auto auto fit-content(122px) 3fr;
      grid-template-areas:
        'header header'
        'abilities abilities'
        'sidebar resources'
        'sidebar main';
      gap: $space;
    }
  }

  input[type='text'] {
    font-weight: inherit;

    &:hover,
    &:focus {
      box-shadow: none;
      border-color: var(--highlight);
    }
  }

  input[type='checkbox'] {
    width: 1em;
    height: 1em;
    flex-basis: 1em;
    margin: 0;
  }

  .resources {
    grid-area: resources;
  }

  .ability-scores {
    grid-area: abilities;
  }

  .sheet-sidebar {
    grid-area: sidebar;
  }

  .sheet-header {
    grid-area: header;
  }

  .tag {
    margin: 0;
    flex: 0 1 auto;

    &.active {
      background: var(--highlight);
      color: white;
    }
  }

  /* these lists work better as wrapping flex lists so that gap can take effect */
  .item-properties,
  .traits-list {
    gap: 0.2em;
    display: flex;
    flex-wrap: wrap;
  }

  /* Support Better Rolls / Minor QOL buttons on item summaries */
  .item-properties .item-buttons {
    gap: calc(0.2em);

    display: flex;
    font-size: 1em;
    margin-bottom: calc($space / 2);
    width: 100%;

    .tag {
      background-color: var(--light-gray);
      font-size: inherit;
    }

    button {
      background: none;
      border: 0;
      font-size: inherit;
      line-height: normal;
    }
  }

  /* complicated flex layout to allow tab areas to be scrollable */
  /* instrumental: https://stackoverflow.com/questions/52487743/prevent-flex-item-from-exceeding-parent-height-and-make-scroll-bar-work */

  .sheet-sidebar {
    overflow: auto;
    scrollbar-width: thin;
    padding-right: $scrollbar-width;
  }

  .sheet-tab-area {
    overflow: hidden;
  }

  /* More Overrides for Whetstone Support */
  .proficient .proficiency-toggle,
  .traits i.fas,
  .inventory-list .item-controls .item-toggle.active,
  .inventory-list .item .item-name {
    color: var(--color);
  }

  .proficiency-toggle {
    color: var(--accent-text);
  }

  .inventory-list .item-controls a,
  span.sep,
  .traits .inactive {
    color: var(--tertiary-text);
  }

  /* Scrollbars */

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-color: var(--light-gray);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--highlight);
    border-color: var(--highlight);
  }

  /* copied from dnd5e, but without the nesting and element specific prefixes and removed some default values */

  .attribute {
    border: 2px groove var(--groove-gray);
    border-radius: 4px;
    text-align: center;
  }

  .attribute-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-size: 24px;
    font-weight: 700;
  }

  .attribute-footer {
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
