@import './mixins';
@import './variables';

.currency {
  @include spaced($space);
  align-items: center;
  display: flex;

  > * {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    > * {
      margin-left: $space / 2;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  label {
  }
}
