@import './mixins';
@import './variables';

.spellbook {
}

.spellcasting-ability {
  flex: 0 auto;
  display: flex;
  align-items: center;

  > div {
    flex: 1;
  }

  label {
    font-weight: 700;
    color: $default-accent-text;
  }
}

.spell-comps {
  @include spaced(0.2em);
}
