@import './mixins';
@import './variables';

.spellcasting-ability {
  flex: 0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;

  > div {
    flex: 1;
    white-space: nowrap;
  }

  label {
    font-weight: 700;
    color: var(--accent-text);
  }
}

.spell-comps {
  gap: calc(0.2em);

  justify-content: flex-end;
}

.spellbook {
  .item {
    &.prepared {
      background-color: var(--spellbook-active);
    }
    &.alwaysPrepared {
      background-color: var(--spellbook-always-active);
    }
  }
}
