@import './mixins';
@import './variables';

.sheet-tab-area {
  border-top: $groove-border;
  display: flex;
  flex-direction: column;
  padding-top: $space / 2;
}

.sheet-navigation {
  @include spaced($space);

  flex: 0 auto;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 14px;
  overflow: auto;
  text-transform: uppercase;

  .item {
    color: var(--accent-text);
    flex: 0 auto;
    height: auto;
    line-height: normal;
    margin: 0;
    padding: 0 0.4em;
    width: max-content;

    &:not(.active) {
      border-bottom-color: transparent;
    }

    &.active,
    &:hover {
      text-shadow: none;
    }

    &.active {
      border-bottom-width: 2px;
      color: inherit;
      border-bottom-color: var(--highlight);
    }
  }
}

.filter-list {
  @include spaced($space / 2);

  line-height: normal;
}

.filter-item {
  border-bottom: 1px groove var(--groove-gray);
  display: flex;
  align-content: center;
}

.tab {
  @include spaced-vertical($space / 2);
}

.inventory-filters {
  justify-content: start;
  flex: 0 auto;
  margin: 0;

  > input {
    margin: 0 5px 0 auto;
    flex: 0 0 120px;
    font-size: 12px;
    height: 22px;
    border: 1px solid var(--color-border-light-tertiary);
    background: var(--color-bg-option);
  }
}

.items-list {
  padding: 0;

  .item {
    > :not(.item-summary) {
      min-height: 30px; // arbitrary
      place-items: center;

      // name column is always first
      &:not(:first-child) {
        font-size: 12px;
        color: var(--tertiary-text);
        text-align: center;
        display: flex;
        place-content: center;
        line-height: normal; // have to keep the item-name h4 line height 30 because it is the clickable area for the expanding summary
      }
    }

    .item-image {
      align-self: stretch;
      background-repeat: no-repeat;
      background-position: center;
    }

    .spell-uses {
      flex: 0 auto;
      padding-right: 0.2em;
      margin-left: 0.2em;
    }

    .item-name {
      max-height: unset;

      &.feat-name-hack {
        overflow: visible; // fixes a bug in actions tab where expanded features would disappear in the foundry client only
      }

      h4 {
        text-overflow: ellipsis;
      }
    }

    &.hidden {
      display: none;
    }
  }

  .items-header {
    background: none;
    border: 0;
    border-bottom: $groove-border;

    .item-name {
      @include truncate;
      cursor: unset;
    }
  }

  .item-list {
    &:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  .item-detail {
    color: var(--tertiary-text);
  }

  .item-controls {
    @include spaced($space / 2);
  }
}
