@import './styles/variables.scss';

// ensure our styles take precedence over 5e default
.dnd5e.sheet.actor.character.efcs {
  @import './styles/header.scss';
  @import './styles/ability-scores.scss';
  @import './styles/attributes.scss';
  @import './styles/sidebar.scss';
  @import './styles/tab-area.scss';
  @import './styles/inventory.scss';

  .window-content {
    box-sizing: border-box;
    overflow: overlay;

    * {
      box-sizing: inherit;
    }

    > form {
      @include spaced-vertical($space);

      overflow: initial;
      height: auto;
    }
  }

  input[type='text']:hover,
  input[type='text']:focus {
    box-shadow: none;
    border-color: $default-highlight;
  }

  h4.box-title {
    font-size: 16px;
  }

  .sheet-main-wrapper {
    @include spaced($space);

    display: flex;
  }

  .sheet-main {
    @include spaced-vertical($space);

    display: flex;
    flex-direction: column;
    flex: 3 100%;
  }

  .resource {
    .attribute-value {
      input {
        flex: 0 auto;
      }
    }
  }

  input[type='text'] {
    font-weight: inherit;
  }

  /* copied from dnd5e, but without the nesting and element specific prefixes and removed some default values */

  .attribute {
    border: 2px groove #eeede0;
    border-radius: 4px;
    text-align: center;
  }

  .attribute-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-size: 24px;
    font-weight: 700;
  }

  .attribute-footer {
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
