@import './styles/variables.scss';

// ensure our styles take precedence over 5e default
.dnd5e.sheet.actor.character.efcs {
  @import './styles/header.scss';
  @import './styles/ability-scores.scss';
  @import './styles/attributes.scss';
  @import './styles/sidebar.scss';
  @import './styles/tab-area.scss';
  @import './styles/inventory.scss';

  .window-content {
    box-sizing: border-box;
    overflow: overlay;

    * {
      box-sizing: inherit;
    }

    > form {
      @include spaced-vertical($space);

      overflow: initial;
      height: auto;
    }
  }

  input[type='text']:hover,
  input[type='text']:focus {
    box-shadow: none;
    border-color: $default-highlight;
  }

  h4.box-title {
    font-size: 16px;
  }

  .sheet-main-wrapper {
    @include spaced($space);

    display: flex;
  }

  .sheet-main {
    @include spaced-vertical($space);

    display: flex;
    flex-direction: column;
    flex: 3 100%;
  }

  .resource {
    .attribute-value {
      input {
        flex: 0 auto;
      }
    }
  }

  input[type='text'] {
    font-weight: inherit;
  }

  .filter-list {
    @include spaced($space / 2);

    line-height: normal;

    .filter-item {
      border-bottom: 0;
      margin: 0;
      display: flex;
      align-content: center;
    }
  }

  /* complicated flex layout to allow tab areas to be scrollable */
  /* instrumental: https://stackoverflow.com/questions/52487743/prevent-flex-item-from-exceeding-parent-height-and-make-scroll-bar-work */

  .sheet-sidebar {
    height: max-content;
  }

  .sheet-main-wrapper {
    overflow: hidden;
    flex: 0 100%;
  }

  .sheet-main {
    overflow: hidden;
  }

  .sheet-tab-area {
    flex: 1 1 1px; /* makes this item grow, but not affect the parent's initial layout compuation */
    overflow: hidden;
  }

  .scrollable-area {
    flex: 1 100%;
    overflow: overlay;
  }

  /* copied from dnd5e, but without the nesting and element specific prefixes and removed some default values */

  .attribute {
    border: 2px groove #eeede0;
    border-radius: 4px;
    text-align: center;
  }

  .attribute-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
    font-size: 24px;
    font-weight: 700;
  }

  .attribute-footer {
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
